<p>temporary code: <%= @code %></p>
<p>State: <%= @state %></p>
<p>Token: <%= @token.token %></p>
<p>Refresh Token: <%= @token.refresh_token %></p>
<p>Expires at: <%= @token.expires_at %></p>


<h2><a href="/">Restart</a></h2>